body{
	font-family: 'Roboto', sans-serif;
}

.productImg{
	border: 0.1em solid #616161;
	height: auto;
	width: 100%;
	margin: 0;
}

.detailHead{
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: left;
	margin: 0;
}

.details{
	text-align: left;
}

.detailsList{
	list-style-type: square;
	display: block;
	font-size: 14px;
}

.extraPic{
	width: 100%;
	height: auto;
	cursor: pointer;
	border: 0.1em solid #cacaca;
}

.isSelected{
	border: 0.1em solid #616161;
}

.swatches{
	border: 0.1em solid #cacaca;
	cursor: pointer;
	margin: 0.5em;
	display: inline-block;
}

.swatches1{
	border: 0.1em solid #616161;
	display: inline-block;
	cursor: pointer;
	margin: 0.5em;
}

.details-quantity{
	width: 10%;
	height: 5%;
}

.details-quantity input{
	padding: 0.5em;
	width: 100%;
	display: inline-block;
	margin: 0;
	outline: 0;
}

.addBtn{
	text-decoration: none;
	background: #000;
	border: 1px solid #000;
	color: #fff;
	font-size: 13px;
	border-radius: 0;
	padding: 7px 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: inline-block;
}

a.addBtn:hover, a.addBtn:active{
	text-decoration: none;
	background-color: #fff;
	border:1px solid #000;
	border-radius: 0;
	color: black;
	padding: 7px 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: background 0.2s ease-in-out 0s;
	display: inline-block;
}

.imgBtn{
	background: #fff;
	text-decoration: none;
	border: none;
}

.imgBtn:hover, .imgBtn:active{
	background: #fff;
	text-decoration: none;
	border: none;
	outline: 0;
}

@media (max-width: 50em){
	.details-quantity{
		width: 20%;
	}

	.detailHead{
		font-size: 20px;
	}

	.detailsList{
		font-size: 13px;
	}
}

@media (max-width: 40em){
	.details-quantity{
		width: 25%;
	}
}