body{
	font-family: 'Roboto', sans-serif;
}

.footer{
	position: relative;
   	bottom: 0;
   	left: 0;
   	width: 100%;
   	background: #fff;
   	border-top: 1px solid #cacaca;
   	vertical-align: bottom;
}

.footerBox{
	width: 100%;
	height: auto;
	padding-top: 1em;
	padding-bottom: 0.3em;
}

.footer-1-3{
	width: 40%;
	position: relative;
	display: inline-block;
	height: 100%;
	vertical-align: top;
}

.footer-2-3{
	width: 54%;
	position: relative;
	display: inline-block;
	vertical-align: top;
	height: 100%;
}

.footer-3-3{
	width: 5%;
	position: relative;
	display: inline-block;
	height: 100%;
}

.footer-item{
	font-size: 10px;
	text-decoration: none;
	height: 50%;
	padding: 0.5em;
	width: 100%;
}

.footer-item-icon{
	width: 100%;
	height: 100%;
	float: right;
	padding: 0.5em;
	opacity: 0.7;
}

.footer-item a{
	font-size: 11px;
	color: #616161;
	margin: 0 3em;
	text-decoration: none;
}

.tel {
	font-size: 11px;
	color: #616161;
	margin: 0 3em;
	text-decoration: none;
}

.footer-item a:hover, .footer-item a:active{
	padding-bottom: 0px;
	border-bottom: 1px solid #cacaca;
}

.footer-item-icon a:hover, .footer-item-icon a:active{
	opacity: 0.4;
	transition: opacity 1s ease-in-out;
}

.footer-detail{
	color: #7b7b7b;
	font-size: 10px;
	float: right;
	padding: 1em;
/*	padding-left: 6em;
	padding-top: 0.3em;*/
}

@media (max-width: 40em){
	.footer-1-3{
		width: 100%;
		text-align: center;
		padding-top: 0.5em;
	}

	.footer-item{
		width: 100%;
		padding: 0.5em 2em;
	}

	.footer-item a{
		margin: 0;
	}

	.footer-2-3{
		width: 66%;
	}

	.footer-3-3{
		width: 32%;
		vertical-align: top;
		display: inline-block;
	}

	.footer-item-icon{
		padding: 0;
	}

	.footer-item-icon-link{
		float: right;
		padding-right: 1.5em;
	}

	.footer-detail{
		margin: 0;
		padding: 0;
		text-align: center;
		padding-top: 0.5em;
		padding-right: 0.8em;
	}
}