body{
	font-family: 'Roboto', sans-serif;
}

@-ms-viewport{
  width: device-width;
}

html{
	width: 100%;
	height: 100%;
}

*, *::after, *::before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



.titleImg{
	width: 100%;
	height: 100%;
	padding-top: 2em;
	z-index: -1;
	position: relative;
}

.mainBox{
	width: 100%;
	height: 100%;
	display: inline-block;
	background: #fff;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;

	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-wrap: wrap;
}

.contentBox{
	position: relative;
	display: block;
	margin: 0.5em 3em;
	padding-right: 0;
	padding-left: 0;
	width: 42%;
	height: 100%;
}

.contentBox-Img{
	position: relative;
	display: inline-block;
	margin: 0.5em 3em;
	padding-right: 0;
	padding-left: 0;
	width: 32%;
}

.heading-about{
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 3px;
	width: 100%;
	text-align: center;
	font-size: 18px;
}

.heading{
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 3px;
	width: 100%;
	text-align: center;
}

.paragraph-about{
	text-align: left;
	width: 100%;
	font-size: 13px;
	padding: 1em 0;
}

.paragraph{
	text-align: left;
	width: 100%;
	font-size: 16px;
	padding: 1em 0;
}

.paragraphBtn{
	text-align: center;
}

.btn{
	text-decoration: none;
	background-color: black;
	border:1px solid black;
	border-radius: 0;
	color: white;
	margin-top: -8px;
	margin-left: -6px;
	padding: 7px 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

a.btn:hover, a.btn:focus{
	text-decoration: none;
	background-color: white;
	border:1px solid black;
	border-radius: 0;
	color: black;
	margin-top: -8px;
	margin-left: -6px;
	padding: 7px 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: background 0.5s ease-in-out 0s;
}

.contentBox-Nav{
	width: 100%;
	height: 7%;
	position: relative;
	display: inline-block;

	left: 0;
	margin-top: 3.2em;
	margin-left: 2em;
}

.contentBox2{
	position: relative;
	display: inline-block;
	margin: 0.5em 0;
	padding-right: 0;
	padding-left: 0;
	width: 10%;
}

.contentBoxSide{
	position: relative;
	display: inline-block;
	margin: 1em 2em;
	padding-right: 0;
	padding-left: 0;
	width: 12%;
	height: 100%;
	border-right: 1px solid #616161;
}

.contentBox-browse{
	position: relative;
	display: block;
	margin: 0.5em 0em;
	padding-right: 0;
	padding-left: 0;
	width: 80%;
	height: 100%;
}

.contentBox-browse-grid{
	width: 25%;
	display: inline-block;
	margin: 0 2em;
	height: 25%;
}

.content-half{
	width: 50%;
	height: 100%;
	padding: 0.5em 4em;
	border-right: 1px solid #616161;
}

.content-half2{
	width: 50%;
	height: 100%;
	padding: 0.5em 4em;
}

.content-form{
	margin: 4em 0 2em 5em;
	padding-left: 6em;
}

.content-login{
	padding-left: 11.5em;
}

.content-cart{
	width: 100%;
	height: 100%;
	margin: 5em;
}

.content-cart-item{
	height: 25%;
	width: 100%;
	/*margin-top: 1em;*/
	display: inline-block;
	border-bottom: 1px solid #cacaca;
	border-top: 1px solid #cacaca;
}

.content-cart-details{
	height: 100%;
	width: 85%;
	padding-top: 5em;
	display: inline-block;
}

.contentBox-about{
	height: 20%;
	position: relative;
	display: inline-block;
	padding: 0 5em;
}

.contentBox-title{
	width: 100%;
	height: 30%;
	margin: 2em 5em 1em 5em;
}

.contentBox-event{
	height: 100%;
	width: 100%;
	position: relative;
	display: inline-block;
}

.contentBox-event-detail{
	width: 50%;
	height: 70%;
	padding: 8em 5em;
	z-index: 1;
	margin-top: -35em;
}

.contentBox-event-1-3{
	width: 33%;
	height: 90%;
	display: inline-block;
	padding: 3em;
}