body{
	font-family: 'Roboto', sans-serif;
}

.header{
	width: 100%;
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	text-align: center;
	border-bottom: none;
}

.menu-item{
	display: block;
	color: white;
	z-index: 2;
	position: relative;
}

ul{
	list-style-type: none;
	position: relative;
	text-align: center;
	padding: 0 2em 0 2em;
	letter-spacing: 0.2em;
	display: inline;
}

ul li{
	display: inline-block;
	padding: 0 1em 0 1em;
	position: relative;
	cursor: pointer;
}

li a{
	text-decoration: none;
	color: #ccb578
}

a:hover, a:active {
	color: white;
	border-bottom: 4px solid #FFFFFF;
	padding-bottom: 10px;
	transition: background 0.3s ease-in-out 0s;
}

.bag{
	position: relative;
	display: inline-block;
}

.user{
	position: relative;
	display: inline-block;
}

.search{
	position: relative;
	display: inline-block;
}

.form{
	top: 0;
	display: inline-block;
	position: relative;
}

.field{
	border-radius: 4px;
	border: 0 none;
	padding: 0.3em 0.5em;
}

.icon{
	padding: 0 0.8em 0 0.8em;
	float: right;
}

.logo{
	float: left;
	padding-left: 3em;
	padding-top: 0.3em;
	position: relative;
}

.list{
	font-size: 12px;
	width: 8.7rem;
}

.list2{
	font-size: 12px;
	width: 6.7rem;
}

ul li ul{
	padding: 0;
	position: absolute;
	display: none;
	visibility: hidden;
	top: 2.1rem;
}

ul li ul li{
	display: block;
	padding: 1em 0 1em 0;
	background: #000;
	color: #ccb578;
	z-index: 0;
}

ul li ul li:hover{
	background: #000;
	color: white;
	border-bottom: 2px solid #FFFFFF;
	padding-bottom: 10px;

	transition: background 0.3s ease-in-out 0s;
}

ul li:hover ul{
	display: block;
	opacity: 1;
	visibility: visible;
	transition: background 0.5s ease-in-out 0s;
}

.subNav{
	padding-top: 2em;
	float: left;
	flex-grow: 1;
	width: 100%;
}

.subNavList{
	display: inline-block;
}

.subNavList li{
	color: #616161;
	padding: 0;

	font-size: 13px;
}

.subNavList li a{
	color: #616161;
	padding: 0;
	font-size: 13px;
}

.subNavList a:hover, .subNavList a:active{
	padding-bottom: 2px;
	border-bottom: 1px solid #616161;
}