body{
	font-family: 'Roboto', sans-serif;
}

.header{
	width: 100%;
	height: 3.2em;
	background: #000;
	top: 0;
	left: 0;
	position: fixed;
}

.logo{
	width: 20%;
	padding: 0.4em;
	display: inline-block;
	position: relative;
	height: 100%;
	vertical-align: top;
	text-align: center;
	padding-left: 1.5em;
}

.dropdown{
	width: 65%;
	height: 100%;
	display: inline-block;
	text-align: center;
}

.menu-item{
	display: inline-block;
	position: relative;
	width: 25%;
	height: 100%;
	padding: 1em;
	vertical-align: top;
	text-align: center;
	cursor: pointer;
}

.menu-item a{
	color: #ccb578;
	text-decoration: none;
	list-style-type: none;
	letter-spacing: 0.2em;
}

.menu-item a:hover, .menu-item a:active{
	color: white;
	border-bottom: 4px solid #FFFFFF;
	padding-bottom: 10px;
	transition: background 0.3s ease-in-out 0s;
}

.hide{
	visibility: hidden;
	opacity: 0;
}

.list{
	list-style-type: none;
	text-align: center;
	background: black;
	display: block;
	padding: 1em 0;
	font-size: 12px;
	cursor: pointer;
	width: 75%;
	margin-left: 2em;
}

.list li{
	padding: 1em 0;
	width: 100%;
	color: #ccb578;
	display: block;
}

.list li:hover, .list li:active{
	border-bottom: 1px solid #fff;
}

.list li a:hover, .list li a:active{
	padding-bottom: 0;
	color: #fff;
	border-bottom: none;
}

.menu-item:hover>.list{
	visibility: visible;
	opacity: 1;
	transition-delay: 0s;
}

.icon{
	list-style-type: none;
	height: 100%;
	width: 30%;
	padding: 1em 0;
	display: inline-block;
}

.navBar-icon{
	float: right;
	width: 10%;
	height: 100%;
	display: inline-block;
}

.icon a:hover, .icon a:active{
	border-bottom: 4px solid #fff;
	padding-bottom: 0.3em;
}

.subNavList{
	display: inline-block;
	list-style-type: none;
	padding: 0;
}

.subNavList li{
	color: #616161;
	padding: 0 0.3em;
	display: inline-block;
	font-size: 13px;
	text-decoration: none;
}

.subNavList li a{
	color: #616161;
	padding: 0;
	font-size: 13px;
	text-decoration: none;
}

.subNavList a:hover, .subNavList a:active{
	padding-bottom: 2px;
	border-bottom: 1px solid #616161;
}