body{
	font-family: 'Roboto', sans-serif;
}

.header{
	width: 100%;
	height: auto;
	background: #000;
	top: 0;
	left: 0;
	position: fixed;
}

.logo{
	width: 15%;
	/*padding: 0.4em;*/
	display: inline-block;
	position: relative;
	height: auto;
	vertical-align: text-top;
	text-align: center;
	padding-left: 1.5em;
	/*margin-top: 0.5em;*/
}

.logo a img{
	width: 100%;
	height: auto;
}

.dropdown{
	width: 83%;
	height: auto;
	display: inline-block;
	text-align: center;
	padding-top: 0.5em; 
}

.menu-item, #navToggle{
	display: inline-block;
	position: relative;
	width: 11em;
	height: auto;
	padding: 1em;
	vertical-align: top;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
}

#navToggle{
	width: 45%;
	display: none;
	color: #ccb578;
	text-decoration: none;
	letter-spacing: 0.2em;
	text-align: center;
}

.menu-item a{
	color: #ccb578;
	text-decoration: none;
	list-style-type: none;
	letter-spacing: 0.2em;
}

.menu-item a:hover, .menu-item a:active{
	color: white;
	border-bottom: 4px solid #FFFFFF;
	padding-bottom: 10px;
	transition: background 0.3s ease-in-out 0s;
}

.hide{
	visibility: hidden;
	opacity: 0;
}

.list{
	position: absolute;
	list-style-type: none;
	background: black;
	display: block;
	padding: 1em 0;
	font-size: 12px;
	cursor: pointer;
	width: 80%;
	margin-top: 1.5em;
	transition: visibility 0s linear 0.5s;
}


.dd-toggle{
	display: none;
}

.list-show{
	visibility: visible;
	opacity: 1;
	transition-delay: 0s;
}

@media (max-width: 60em){
	.list{
		width: 10em;
		margin-left: 0;
	}
}

.list li{
	padding: 1em 0;
	width: 100%;
	color: #ccb578;
	display: block;
}

.list li:hover, .list li:active{
	border-bottom: 1px solid #fff;
}

.list li a:hover, .list li a:active{
	padding-bottom: 0;
	color: #fff;
	border-bottom: none;
}

.menu-item:hover>.list{
	visibility: visible;
	opacity: 1;
	transition-delay: 0s;
}

.icon{
	list-style-type: none;
	height: auto;
	width: 30%;
	padding: 1em 0;
	display: inline-block;
}

.navBar-icon{
	float: right;
	width: 10%;
	height: auto;
	display: inline-block;
}

.icon a:hover, .icon a:active{
	border-bottom: 4px solid #fff;
	padding-bottom: 0.3em;
}

.subNavList{
	display: inline-block;
	list-style-type: none;
	padding: 0;
}

.subNavList li{
	color: #616161;
	padding: 0 0.3em;
	display: inline-block;
	font-size: 13px;
	text-decoration: none;
}

.subNavList li a{
	color: #616161;
	padding: 0;
	font-size: 13px;
	text-decoration: none;
}

.subNavList a:hover, .subNavList a:active{
	padding-bottom: 2px;
	border-bottom: 1px solid #616161;
}

@media (max-width: 40em){
	.navBar-icon{
		width: 25%;
	}

	.logo{
		width: 50%;
		/*margin-left: 4em;*/
	}

	.list{
		width: 100%;
		left: 0;
		z-index: 1;
	}

	#menu-item-men-ham{
		z-index: 0;
	}

	#menu-item-women-ham{
		z-index: 2;
	}

}